<div>
  <strong>Title:</strong>
  <%= display.title %>
  
  <% if display.content.present? %>
    <% first_content = display.content.first %>
    <br>
    <%= image_tag first_content.image_as_thumbnail %>
  <% else %>
    <p>No contents present for the display.</p>
  <% end %>
</div>
