<div class="container">
  <div class="header">
    <h1>Help Page</h1>
  </div>
  <p>
    Quick Name is designed is help people who suffer from aphasia and other issues with word recall to practice their recall and retention for familiar words and places.
  </p>

  <p>
    The way it works is through the slideshow that is pre-populated with images that the user would like help to recall.
  </p>

  <strong>Create a Slideshow</strong>
  <ol>
    <li>Select the "Create Slideshow" Link.</li>
    <li>Give the slideshow a name, for example "Family" or "Around the house".</li>
    <li>For each content slide you need to:</li>
    <ul>
      <li>Write a title.</li>
      <li>Select an image file (JPG, JPEG or PNG).</li>
      <li>Record the word associated with the slide: press record, state the name loudly and clearly and press stop.</li>
    </ul>
    <li>Once you have completed the full number of slides you will return to the slideshow index page which shows all of the slides.</li>
  </ol>

  <strong>Play Slideshow</strong>
  <ol>
    <li>Choose the slideshow you wish to display.</li>
    <li>Select the number of seconds you want each slide to display for before the title is shown and the audio played.</li>
    <li>Click the "Show This Slideshow" link.</li>
  </ol>
</div>
